{% extends "layout.html" %}
{% block content %}
<br>
<div class="input-group">
  <div class="input-group-btn search-panel">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span id="search_concept">Relation</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#contains">r_associated</a></li>
        <li><a href="#its_equal">r_raff_sem</a></li>
        <li><a href="#greather_than">r_has_part</a></li>
        <li class="divider"></li>
        <li><a href="#all">Autres</a></li>
    </ul>
</div>
<input type="hidden" name="search_param" value="all" id="search_param">         
<input type="text" class="form-control success" name="x" placeholder="Search term...">
<span class="input-group-btn">
  <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-search"></span></button>
</span>
</div>

<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>




{% endblock %}